.user-pic{
height: 8rem;
width: 8rem;
border-radius: 50%;
margin-right: 2rem;
}

.user{
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: flex-start;
    margin: 1rem;
    background: cornsilk;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 1s;
}

.user-lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: lightslategray; */
    /* width: 90%; */
}

.user:hover{
    transform: scale(1.2);
    background: rgb(126, 204, 235);
}

.delete
{
    background-color: #e9111c; 
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
}
.edit
{
    background-color: #11e996; 
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
}

.delete::after{
    content: '\f1f8';
	font-family: FontAwesome;
    padding-left: .5rem;
}

.edit::after{
    content: '\f044';
	font-family: FontAwesome;
    padding-left: .5rem;
}

.form{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.submit
{
    background-color: #0b8ee6; 
    border: none;
    color: white;
    cursor: pointer;
    /* margin-right: 1rem;
    padding-left: 1rem; */
}
.submit:after{
    content: '\f0fe';
    font-family: FontAwesome;
    padding-left: .5rem;
}

.user-info>p:nth-child(1){
font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .user-pic{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
        }
        
    .user{
        display: flex;
        /* align-items: center; */
        justify-items: center;
        width: 20rem;
        height: 8rem;
        justify-content: flex-start;
        margin: 0.5rem;
        background: cornsilk;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
        transition: none;
        /* overflow: hidden; */
        }
    .user-action{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 5rem;
    }


    .user-info>p:nth-child(1){
        margin: 0px;
    }
    .user-info>p:nth-child(2){
        margin: 0px;
    }
    .user:hover{
        transform:none;
        background: cornsilk;
    }

    .button{
        margin-left: 1rem ;
        padding-left: 0px;
    }

    span{
        display: none;
    }
    div.form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-elements{
        display: flex;
        flex-direction: column;
    }
    
}
